<div class="home-container">
    <div class="home-header">
        <app-news-bar newsBarPhoto="assets/spider-man.jpg" newsBarTitle="Marvel's Spider-Man 2" newsBarDescription="Sejam Melhores. Juntos." >
    </app-news-bar></div>
    <div class="home-content">
        <app-card gameCover="assets/ac-mirage.png" gameLabel="New" gamePrice="R$239,90" gameType="PS5"></app-card>
        <app-card gameCover="assets/elden-ring.jpg" gameLabel="Edição Padrão" gamePrice="R$299,90" gameType="PS4 | PS5"></app-card>
        <app-card gameCover="assets/hogwarts-legacy.jpg" gameLabel="New | Deluxe" gamePrice="R$349,90" gameType="PS4 | PS5 | PC"></app-card>
        <app-card gameCover="assets/elden-ring-deluxe.jpg" gameLabel="Deluxe" gamePrice="R$399,50" gameType="PS4 | PS5"></app-card>
    </div>
</div>